* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #F6F6EC;;
}

.accordion {
    max-width: 80%;
    margin: 0 auto;
    color: #000000;
}

.meme-container {
    color: #0000ff;
}

@media (pointer: fine) {
    .accordion-body:hover {
        cursor: pointer;
    }

    .accordion-body:hover .meme-container{
        color: inherit;
    }
}