* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #F6F6EC;
}

.accordion {
    max-width: 80%;
    margin: 0 auto;
    color: #000000;
}

.meme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .3vh solid #D2D9E2;
    color: #0000ff;
}

.meme-container:active {
    opacity: 75%;
    filter: grayscale(50%);
    color: inherit;
}

.meme-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.meme-title {
    margin: .25em 0;
}

.meme-icon {
    height: 2em;
    transition: .3s;
}

.meme-image {
    width: 0;
    height: 0;
    transition: .2s;
}

.meme-select {
    display: none;
}

.meme-select:checked~.meme-container {
    color: inherit;
}

.meme-select:checked~.meme-container .meme-icon {
    transform: rotate(45deg);
}

.meme-select:checked~.meme-container .meme-image {
    width: 80%;
    height: auto;
    margin-bottom: 7%;
}

@media (pointer: fine) {
    .accordion-body:hover, label:hover {
        cursor: pointer;
    }

    .accordion-body:hover .meme-container {
        color: inherit;
    }

    .meme-icon {
        display: none;
    }

    .accordion-body:hover .meme-icon {
        display: block;
    }

    .meme-container:hover .meme-image {
        width: 80%;
        height: auto;
        margin-bottom: 7%;
    }

    .meme-container:hover .meme-icon {
        transform: rotate(45deg);
    }
}